/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(165, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Remove margens do body */
    flex-direction: column;
    box-sizing: border-box; /* Inclui padding e borda no cálculo de largura/altura */
}

/* Estilo do título */
h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

/* Estilo da tabela */
table {
    width: 40%; /* Ocupa 100% da largura do contêiner pai */
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px black;
    transform-style: preserve-3d;
    display: none; /* Oculta a tabela inicialmente */
    margin: 0; /* Remove margem extra ao redor da tabela */
    padding: 0; /* Remove padding extra */
    overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
   
}


/* Animação 3D para a tabela */
@keyframes tableAnimation {
    0% {
        transform: scale(0.95) rotateY(-10deg);
    }
    50% {
        transform: scale(1.05) rotateY(10deg);
    }
    100% {
        transform: scale(1) rotateY(0deg);
    }
}

/* Exibe a tabela com animação após o envio do formulário */
table.show-table {
    display: block; /* Mostra a tabela */
    animation: tableAnimation 1s ease-in-out; /* Aplica animação */
}

/* Estilo das células da tabela */
th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
   
}

/* Efeito de 3D nas células da tabela ao passar o mouse */
th:hover, td:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 5px 15px black;
    background-color: #ff6600;
}

/* Estilo do botão */
.button {
    background-color:#ff6600;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:white;
}

/* Estilo das células de cabeçalho */
th {
    background-color: black;
    color: white;
}

/* Estilo do corpo da página */
form {
    text-align: center;
    margin-bottom: 20px;
}
